@import 'client/src/styles/mixins';

.pageGameMechanicsDemonstration {
	@include fullscreen;
	@include flexVertical;
}

.content {
	flex-grow: 1;
	color: var(--colorBlueWhite);
}

.menu {
	@include flexVertical;

	width: 400px;
	gap: 10px;
}

.inputsBlock {
	@include flexHorizontal;

	width: 100%;
	gap: 10px;

	> * {
		flex-grow: 1;
	}
}
