.canvas {
	 height: 80%;
	 margin-top: 20px;
	 border: 2px solid black;
}
.placementPageContainer {
	display: flex;
	height: calc(80vh - 50px);
}
.gamePageContainer {
	display: flex;
	justify-content: center;
	height: calc(67vh - 50px);
	padding-top: 25px;
}
.firstPlayer {
	margin-right: 60px;
}
.shipsContainer {
	width: 35%;
	margin-right: 20px;
	height: 80%;
	margin-top: 20px;
}
.buttonsContainer {
	display: flex;
	justify-content: center;
}
.buttonsContainer .button {
	width: 270px;
	margin-right: 25px;
}
.restShips {
	display: flex;
	align-items: center;
	margin-top: 15px;
}
.restShips p, .playersTurn p {
	font-size: 20px;
	font-weight: 600;
	margin:0 0 0 25px;
}
.footerPlacement {
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
.footer p {
	margin: 0;
}
.playersTurn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px auto;
	clip-path: polygon(100% 1%, 100% 45%, 90% 100%, 0 100%, 0 0);
	width: 300px;
	height: 30px;
}
.buttonExitGame {
	width: 250px;
	margin-left: calc(100vw/2 - 125px);
	margin-top: 30px;
}
.playerName {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
}
.playerName1 {
	clip-path: polygon(0 0, 100% 0, 100% 99%, 10% 98%, 0 41%);

}
.playerName2 {
	clip-path: polygon(100% 1%, 100% 45%, 90% 100%, 0 100%, 0 0);

}
.turn {
	background: var(--colorBlueLight);
}
.wait {
	background:  var(--colorBlueLight);
	opacity: 0.5;
}
.avatar, .avatar * {
	margin-right: 5px;
}
.gameOverModal {
	width: 33%;
	height: 29%;
	position: fixed;
	top: 29%;
	left: 34%;
	background: var(--colorBlueLight);
	z-index: 99999;
	opacity: 1;
}
.modalGameOverHeader {
	height: 56px;
	background-color: var(--colorBlueSky);
}
.tableWrapper {
	width: 40%;
	margin: 0 auto;
}
table {
	position: relative;
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto 30px;
}
tbody tr td {
	border: 2px solid white;
}
thead  {
	border: 2px solid white;;
	background-color: var(--colorBlueDark);
	color: var(--colorBlueLight);
}
tr {
	height: 55px;
}
tbody tr :nth-child(2), tbody tr :nth-child(3) {
	text-align: center;
	width: 155px;
	background-color: var(--colorBlueSky);
}
tbody tr :first-child {
	width: 170px;
	padding-left: 15px;
	background-color: var(--colorBlueTeal);
}
.buttonResultsGame {
	margin: 15px auto;
	width: 250px;
	display: block;
}
.winnerIs {
	width: fit-content;
	margin: 3% auto 2%;
	text-align: center;
	font-size: 35px;
	color: #00dbde;
	font-weight: 600;
	/*text-shadow: 1px 7px 14px var(--colorBlueSky);*/
	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
	text-shadow: -6px 0 17px #006181, 0 1px 17px #006181, 1px 0 17px #006181, 0 -1px 17px #006181;
}
.underline {
	position: absolute;
	left: 0;
	top: 49px;
	width: 100%;
	height: 15px;
	background: var(--colorWhite);
	z-index: 3;
	clip-path: polygon(0% 0%, 7% 0%, 9% 42%, 91% 42%, 93% 0%, 100% 0%, 100% 57%, 52% 57%, 50% 100%, 36% 100%, 34% 57%, 0% 57%);
}
.underlineBottom {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: var(--colorWhite);
	z-index: 3;
	clip-path: polygon(100% 100%, 100% 77%, 88% 78%, 85% 91%, 48% 89%, 17% 88%, 14% 75%, 0 73%, 0 100%);
}
.buttonModalGameOver {
	width: 140px;
	height: 40px;
	margin-left: 20px;
	text-align: center;
}
.buttonsModalGameOver {
	position: absolute;
	right: 0;
	bottom: -38px;
	display: flex;
	justify-content: flex-end;
}
.modalGameOverResult {
	display: flex;
	justify-content: center;
	font-size: 30px;
	margin-top: 20px;
}
.modalGameActions {
	width: 270px;
	height: fit-content;
	text-shadow: 0px 8px 9px black ;
	border-radius: 30px;
	position: absolute;
	top: calc(100vh/2 - 190px);
	right: calc(100vw/2 - 270px/2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--colorOrange);
	font-size: 30px;
}



