@import 'client/src/styles/app';

.wrapper {
	@include linkReset;
	@include headerForumTopicWithLinks;

	display: flex;
	justify-content: center;
}

.title {
	&_base {
		color: var(--colorBlueWhite);
	}
}

.input {
	line-height: 1;
	clip-path: polygon(80% 0%, 90% 0%, 100% 0, 100% 90%, 100% 100%, 15% 100%, 0 70%, 0 0);
	padding-left: 30px;
	background-color: ghostwhite;
}

.container {
	margin-top: 15px;
	width: 80%;
	border-radius: 1rem;
	padding: 0 20px;

	&__elements {
		display: grid;
	}
}
