@import 'client/src/styles/app';
@import 'client/src/pages/Forum/Forum.module';

.wrapper {
	@include linkReset;
	@include headerForumTopicWithLinks;
}

.title {
	&_base {
		color: var(--colorBlueWhite);
	}
}

.formCreate {
	margin: 0 0 20px 20px;
}

.topics {
	display: grid;
}
