@import 'client/src/styles/mixins';

.background {
	@include fullscreen;

	z-index: -1;
	background: var(--colorBackground);

	&[data-theme='dark'] {
		background: var(--colorThemeDarkBackground);
	}
}
