.buttonBack {
	--width: 5%;
	--height: 59px;
	--crop: 30px;
	--cropX: calc(var(--width) - var(--crop));
	--cropY: calc(var(--height) - var(--crop));

	padding: 8px 16px;
	background: var(--colorBlueLight);
	width: var(--width);
	clip-path: polygon(0 0, 100% 0, 100% var(--cropY), var(--cropX) 100%, 0% 100%);

	&:hover {
		background: #ddd;
	}

	.btn {
		background-color: transparent;
		border: medium none;
	}
}
