@import 'client/src/styles/app';

.wrapper {
	display: flex;
	justify-content: center;

	*::-webkit-scrollbar {
		width: 12px;

	}

	*::-webkit-scrollbar-track {
		background: var(--colorBlueWhite);
	}

	*::-webkit-scrollbar-thumb {
		background-color: var(--colorWhiteSmoke);
		border-radius: 10px;
		border: 3px solid var(--colorBlueWhite);

		&:hover {
			background-color: var(--colorGreyLight);
		}
	}
}

.container {
	margin-top: 15px;
	width: 80%;
	background-color: var(--colorBlueWhite);
	border: 2px solid var(--colorGreyLight);
	border-radius: 1rem;

	&__messages {
		max-height: 356px;
		overflow-y: scroll;
		padding: 0 20px;
	}
}

.reply {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	border-top: 1px solid var(--colorGreyLight);
	padding: 0 20px;
	height: 100px;

	&__field {
		padding: 16px;
		width: 100%;
	}

	&__avatar {
		padding-top: 5px;
	}
}

.field {
	width: 100%;
	padding: 0 16px 16px 0;
	outline: none;
	border: none;
	background-color: var(--colorBlueWhite);
	resize: none;
}

.field:placeholder-shown {
	color: var(--colorBlueSky);
}

.footer {
	&__control {
		display: flex;
		justify-content: flex-end;
		padding: 13px 20px;
		border-top: 1px solid var(--colorGreyLight);
	}

	&__actions {
		display: flex;
		column-gap: 10px;
	}
}

.defaultBtn {
	background: var(--colorBlueLight);
	white-space: nowrap;
	outline: none;
	border: none;
	width: 100%;
	height: 50px;
	padding: 0 16px;

	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}

.cancel {
	clip-path: polygon(80% 0%, 90% 0%, 100% 0, 100% 90%, 100% 100%, 15% 100%, 0 70%, 0 0);
	background-color: var(--colorGray);
}

.submit {
	clip-path: polygon(0 0, 100% 0, 100% 73%, 83% 100%, 0 100%);
	background-color: var(--colorBlueSky);

	&:active {
		transform: translateY(1px);
	}
}
