@import 'client/src/styles/app';

.like {
	fill: transparent;
	width: 16px;
	height: 13px;
	display: block;
	transform: scale(1);
	transition: all var(--animationTimeSmall);
	transition: transform var(--animationTimeBase);

	&:hover {
		cursor: pointer;
		fill: var(--colorRadicalRed);
		stroke: var(--colorRadicalRed);
		transform: scale(1.3);
		transition: all var(--animationTimeSmall) ease;
		transition: transform var(--animationTimeBase) ease;
	}

	&--red {
		fill: var(--colorRadicalRed);
		stroke: var(--colorRadicalRed);
	}

	&--yellow {
		fill: var(--colorYellowLemon);
		stroke: var(--colorYellowLemon);
	}
}
