
@import 'client/src/styles/app';

.avatar {
	width: 35px;
    height: 35px;
	border-radius: 50%;
    z-index: 5;
	object-fit:cover;

	&_large {
		width: 130px;
		height: 130px;
	}

	&__wrapper {
		@include flexCenter;
		
		margin: 5px;
	}
}
