@import 'client/src/styles/app';

.fullScreen {
	border: none;
	outline: var(--colorGrey) solid 1px;
	background-color: transparent;
	margin-right: 5px;

	&__icon {
		width: 30px;
		height: 30px;
		stroke: var(--colorPurple);
		transform: scale(1);
		transition: all var(--animationTimeSmall);

		&:hover {
			cursor: pointer;
			opacity: 0.7;
			stroke: var(--colorBlueSky);
			transform: scale(1.1);
		}

		&:active {
			transform: scale(1.2);
		}
	}
}
