@import 'client/src/styles/app';

.geolocation {
	&__flag {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 25px;
		margin-left: 5px;
	}

	&__text {
		font-size: calc(var(--height) / 2.5);
		margin-left: 20px;
	}
}
