.canvas {
	height: 80%;
	margin-top: 20px;
	border: 2px solid black;
}

.placementPageContainer {
	display: flex;
	height: calc(80vh - 50px);

	.shipsContainer {
		width: 35%;
		margin-right: 20px;
		height: 80%;
		margin-top: 20px;
	}
}

.buttonsContainer {
	display: flex;
	justify-content: center;

	.button {
		width: 270px;
		margin-right: 25px;
	}
}
