@import "client/src/styles/app";

.wrapper {
	display: flex;
	border-top: 1px solid var(--colorGreyLight);

	&:first-child {
		padding-top: 20px;
	}
}

.reaction {
	&__count {
		cursor: pointer;

		&_like {
			color: var(--colorRadicalRed);
		}
	}

	&__panel {
		display: flex;
		flex-wrap: wrap;
	}

	&_btn {
		right: -3px;
		display: none;
	}
}

.message {
	position: relative;
	border-radius: 12px;
	font-size: 12px;
	line-height: 15px;
	padding: 11px;
	max-width: 402px;
	min-width: 202px;
	word-break: break-word;
	white-space: pre-wrap;
	margin: 21px 10px;

	&:hover .reaction {
		&_btn {
			display: block;
		}
	}

	&_text {
		background-color: var(--colorBlueLight);
	}

	&_me {
		justify-content: flex-end;
		background-color: var(--colorGreyLight);
		margin-left: auto;
		margin-right: 20px;
	}

	&__retwit {
		padding: 10px;
		border: 1px solid black;
	}

	&__none {
		display: none;
	}

	&__reaction {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 3px;
		right: 6px;
		bottom: 1px;
		color: var(--colorSlateGrey);
		font-weight: 600;
		font-size: 10px;
		line-height: 10px;
		height: 24px;
		margin-right: 5px;

		&:hover {
			cursor: pointer;
		}
	}

	&__info {
		position: relative;
		display: flex;
		gap: 10px;
		font-size: 13px;
	}

	&__author {
		color: var(--colorBlueSky);
		font-weight: bold;
	}

	&__date {
		color: var(--colorSlateGrey);
		padding-right: 40px;
	}
}
