.leaderboard {
  &__container {
    background: var(--colorBlueSky);
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__list {
    background-color: #eee;
  }

  &__list:hover {
    background-color: #ccc;
  }

  &__list-el {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    min-width: 195px;
  }

  &__list-bottomEl {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  &__list-bottomEl:nth-child(odd) {
    background-color: #fff;
  }

  &__list-bottomEl:nth-child(even) {
    background-color: #eee;
  }

  &__list-bottomEl:hover {
    background-color: #ccc;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    padding-top: 500px;
  }
}
