@mixin fullscreen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

@mixin flexVertical {
	display: flex;
	flex-flow: column nowrap;
}

@mixin menuFlexVertical {
	@include flexVertical;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	> div:not(div.header,div.footer) {
		flex: 1;
	}
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin buttonHover {
	&:hover {
		border-bottom: 2px solid var(--colorYellow);
	}
}
